*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'ONE-Mobile-Regular';
  min-width: 500;}
a {text-decoration: none; display: block; color: inherit; font-size: 18px;}
li{list-style: none;}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap {
    position: relative;
}

/*헤더*/
#header{
    clear:both;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 139px;
    background-color: rgba(0, 0, 0, 0.05);
}
/* 서브 헤더*/
#header .sub-header {
    width: 100%;
    height: 62px;
    background-color: rgba(0, 0, 0, 0.05);
    clear: both;
}
#header .sub-header .inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
#header .sub-header ul:nth-of-type(1) {
   float: left;
   width: 150px;
   height: 62px;
}
#header .sub-header ul:nth-of-type(1) li {
    float: left;
}
#header .sub-header ul:nth-of-type(1) li a {
    line-height: 60px;
    padding-right: 10px;
    font-weight: bold;
    color: white;
    transition: 0.2s;
}
#header .sub-header ul:nth-of-type(1) li a:hover {
    color: #92c401;
}
#header .sub-header ul:nth-of-type(2) {
    width: calc(100% - 150px);
    height: 100%;
    float: right;
}
#header .sub-header ul:nth-of-type(2) li {
    float: right
}
#header .sub-header ul:nth-of-type(2) li a {
    padding-left: 10px;  
}
#header .sub-header ul:nth-of-type(2) li a img {
    margin-top: 14px;
}
/*메인 헤더*/
#header nav.menu {
    width: 1200px;
    height: 77px;
    margin: 0 auto;
}
#header nav.menu h1{
    float: left;
    width: 150px;
    height: 100%;
    display: inline-block;
}
#header nav.menu h1 img {
    float: left;
    width: 150px;
    margin-top: 15px;
}
#header nav.menu > div {
    float: right;
    width: calc(100% - 150px);
    height: 100%;
}

#header ul.navi {
    float: left;
}
#header ul.navi > li {
    float: left;
    margin-left: 55px;
    margin-top: 20px;
    text-align: center;
    transition: 0.3s;
    border-radius: 10px;
}
#header ul.navi > li > a {
    width: 100px;
    height: 40px;
    line-height: 40px; 
    font-weight: bold;
    color: white;
    transition: 0.3s;
}
#header ul.navi > li:hover > a{
    background-color: rgba(255, 255, 255, 0.5);
}
#header ul.navi > li > a:hover {
    color: #333;
}
/* 서브메뉴 */
#header .submenu {
    position: relative;
    z-index: 3;
    display: none;
    margin-top: 20px;
}
#header .submenu > li {
    transition: 0.3s;
}
#header .submenu > li > a {
    width: 100px;
    height: 40px;
    line-height: 40px; 
    font-weight: bold;
    color: #333;
    transition: 0.3s;
}
#header .submenu > li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#header .submenu > li a:hover {
    color: #fff;
}
#header .bg {
    position: relative;
    z-index: 2;
    display: none;
    width: 100%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.8);
}
/*헤더 호버박스*/
#header .hover-box {
    cursor: pointer;
    position: relative;
    float: right;
    width: 50px; 
    height: 50px;
    margin-top: 12px;
    border:none;
    transition: 0.3s;
}
#header .hover-box span {
    cursor: pointer;
    position: absolute; 
    right: 0;
    top: 1px; 
    width: 35px; 
    height:7px; 
    background-color:#fff;
    border-radius: 20px; 
    transition: 0.3s;
}
#header .hover-box span:nth-of-type(1){top: 8.5px;}
#header .hover-box span:nth-of-type(2){top: 21.5px;}
#header .hover-box span:nth-of-type(3){top: 34.5px}
#header .hover-box:hover span:nth-of-type(1){transform: rotate(-45deg); transform-origin: right center;}
#header .hover-box:hover span:nth-of-type(2) {opacity: 0;}
#header .hover-box:hover span:nth-of-type(3){transform: rotate(45deg); transform-origin: right center;}

#header .side-navi {
    position: fixed;
    right: 0;
    top: 18%;
    z-index: 50;
    width: 45px;
    height: 240px;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 10px 0 0 10px;
}

/* quick 이벤트 */

#quick {
    position:fixed;
    right:20px;
    bottom:20px;
    z-index: 51;}

#quick .quick-box span {
    width: 100px;
    height: 100px;
}



/*modal*/

#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);

}
#modal .box {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 100%;
    height: 100%;
    margin: -70px 0 0 -100px;
    background-color:none;
}


#modal .box ul li {
    margin-bottom: 40px;
    width: 220px;
    height: 50px;
}
#modal .box ul li a {
    display: inline-block;
   
}

#modal .box ul li a:hover {
    border-bottom: 1.5px solid black;
}
#modal .btn { 
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;   
    transition: 0.2s;
}
#modal .btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}




/*메인*/
#main {
    clear: both;
    width: 100%;
    height: 900px;
}
#main .imgslide li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 900px;
}
#main .imgslide li:nth-of-type(n+2) {
    display: none;
}
#main .imgslide li > img {
    clear: both;
    width: 100%;
    height:900px;
    object-fit: cover;
    object-position: center;
}
#main .imgslide li span {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -600px;
}
#main .imgslide li span > img {
     width: 600px;
}

/*section1*/

#section1 {
    clear: both;
    display: block;
    min-width: 1000px;
    width: 100%;
    height:600px;
    margin: 0 auto;
    background-color:#fbf3eb;
}
#section1 h2 {
    text-align: center;
    
}
#section1 h2 img {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;

}

#section1 ul {
    display: flex;
    justify-content: space-around;
   margin-top: 65px;
    width: 100%;
    height: 450px;

}
#section1 ul li p:first-of-type {
    width: 290.39px;
    height: 290.39px;
    text-align: center;
    transition: 1s;
    cursor: pointer;
    border-radius: 0 50px 0 50px;
}
#section1 ul li:nth-of-type(1) p:first-of-type{
    background: url(../img/section1_img1\ \(2\).jpg) center;
    background-size: cover;
    border-radius: 0 50px 0 50px;
}
 #section1 ul li:nth-of-type(2) p:first-of-type{
    background: url(../img/section1_img2\ \(2\).jpg) center;
    background-size: cover;
    border-radius: 0 50px 0 50px;
 }
 #section1 ul li:nth-of-type(3) p:first-of-type{
    background: url(../img/section1_img3.jpg) center;
    background-size: cover;
    border-radius: 0 50px 0 50px;
}
#section1 ul li:nth-of-type(4) p:first-of-type{
    background: url(../img/section1_img4.jpg) center;
    background-size: cover;
    border-radius: 0 50px 0 50px;
}
#section1 ul li:nth-of-type(5) p:first-of-type{
    background: url(../img/section1_img5.jpg) center;
    background-size: cover;
    border-radius: 0 50px 0 50px;
}
#section1 ul li h4 {
    text-align: center;
    margin-top: 20px;
}
#section1 ul li p {
    text-align: center;
    margin-top: 20px;
}

#section1 ul li:nth-of-type(1) p:first-of-type:hover  {
    background: url(../img/section1_hover.jpg) center;
    background-size: cover;
}

#section1 ul li:nth-of-type(2) p:first-of-type:hover  {
    background: url(../img/section2_hover.jpg) center;
    background-size: cover;
}
#section1 ul li:nth-of-type(3) p:first-of-type:hover  {
    background: url(../img/section3_hover.jpg) center;
    background-size: cover;
}
#section1 ul li:nth-of-type(4) p:first-of-type:hover  {
    background: url(../img/section4_hover.jpg) center;
    background-size: cover;
}
#section1 ul li:nth-of-type(5) p:first-of-type:hover  {
    background: url(../img/section5_hover.jpg) center;
    background-size: cover;
}
#section1 ul li a {
    transition: 0.2s;
}
#section1 ul li a:hover {
    color: #92c401;
}


/*section2*/
#section2 {
    position: relative;
    width: 100%;
    height: 900px;
}

#section2 p:first-of-type {
   
    width: 100%;
    height: 900px;
    background: url(../img/section2_bgg.jpg) no-repeat center;
    background-size: cover;
}

#section2 ul{
    position: absolute;
    left: 18%;
    top: 8%;
    width: 550px;
    height: 600px;
}

#section2 p:last-of-type {
    position: absolute;
    right: 18.5%;
    bottom: 15%;
}
#section2 .section2-btn {
    position: absolute;
    right: 18.5%;
    bottom: 6%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
#section2 .section2-btn img {
    padding-top: 3px;
    
}
#section2 .section2-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #fff;
}

/*banner*/

#banner {
    position: relative;
    width: 100vw;
    height: 200px;
    background:url(../img/종이질감.jpg) no-repeat;
}
#banner > img:first-of-type {
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -600px;
    cursor: pointer;
}
#banner > img:last-of-type {
    position: absolute;
    right: 50%;
    top: 15%;
    margin-right: -600px;
}

/*section3*/

#section3 {
    width: 100%;
    height: 1200px;
    background-color: #fff;
}

#section3 .section3-title {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;
    background-color:#fff;
}
#section3 .section3-title h2 {
    margin-bottom: 18px;
  
}
#section3 .section3-title .section3-btn {
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#section3 .section3-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#section3 span {
    float: left;
    width: 50%;
    height: 782.28px;
}
#section3 span > p{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#section3 span > p > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

#section3 span > p > img:hover {
   transform: scale(1.1);
}

#section3 .section3-box {
    float: left;
    width: 50%;
    height: 782.28px;
    background-color:#fff;
}

#section3 .section3-box ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 50%;
    margin-left: 80px;
}

#section3 .section3-box ul > li {
    float: left;
    width: 333px;
    height: 366px;
    margin-top: 12px;
    background-color:#fff;
    overflow: hidden;
    border-radius: 50px;

}
#section3 .section3-box ul li > p {
    width: 100%;
    height: 65%;
    border-bottom: 1px dashed lightgray;
}

#section3 .section3-box ul li p img {
    transition: 1s;
}

#section3 .section3-box ul li span {
    width: 100%;
    height: 126px;
    background-color:#fafafa;
    padding-top: 10px;
    color: gray;
}
#section3 .section3-box ul li span p {
    display: inline-block;
    width: 100%;
    height: 34px;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: 0.3s;

}

#section3 .section3-box ul:nth-of-type(1) li span p:first-of-type {
    width: 100%;
    height: 18px;

}

#section3 .section3-box ul li span p:first-of-type {
    font-size: 18.2x;
}
#section3 .section3-box ul li span p:hover {
   color: #92c401;
}
#section3 .section3-box ul li img:hover {
    transform: scale(1.1);
}

/*section4*/

#section4 {
    width: 100%;
    height: 900px;
    background-color:#fff;
}
#section4 .section4-title {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    background-color:#fff;
}

#section4 .section4-title h2 {
    margin-bottom: 15px;
  
}
#section4 .section4-title .section4-btn {
    padding: 15px 20px;
    border-radius: 20px;
    
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#section4 .section4-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#section4 ul {
    display: block;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 500px;
    margin: 15px auto;
    
    padding: 30px;
}

#section4 ul li {
    position: relative;
    overflow: hidden;
    width: 650px;
    height: 450px;
    border-radius: 10px;
    background-color: #fafafa;
}
#section4 ul li img {
    width: 650px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    transition: 1s;
    cursor: pointer;
}

#section4 ul li img:hover {
    transform: scale(1.1);
}

#section4 ul li span {
    position: absolute;
    left: 10px;
    bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #fafafa;
}

/*section5*/

#section5 {
    position: relative;
    width: 100%;
    height: 850px;
    background-color:#fff;
    border-bottom: 0.5px dashed lightgray;
}

#section5 span:first-of-type {
    float: left;
    width: 40%;
    height: 100%;
    background-color: lightpink;
   
}
#section5 span:last-of-type {
    float: left;
    width: 60%;
    height: 100%;
    background-color:#fff;
}

#imgslide2 ul.slide2 {
    position: absolute;
    left: 30%;
    top: 15%;
    width: 1100px;
    height: 600px;
    background-color:#fafafa;
    border-radius: 20px;
}

#imgslide2 ul.slide2 li:nth-of-type(n + 2) {
    display: none;
}
#imgslide2 ul.slide2 li {
    position: absolute;
    left: 0;
    top: 0;
    width: 1100px;
    height: 600px;
}

#imgslide2 ul.slide2 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 1100px;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

#imgslide2 p {
    position: absolute;
    right: 50%;
    top: 10%;
    margin-right: -720px;
}


/*푸터*/
#footer {

    width: 100%;
    height: 312px;
    margin-top: 200px;
    background-color: #fff;

}

#footer .first-line {
    
    width: 100%;
    height: 48px;
    border: 1px solid gray;

    border-top: none;
    border-left: none;
    border-right: none;
}

#footer .first-line span {
    position: relative;
    display: block;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color:#fff;
}
#footer .first-line span ul:first-of-type {
    float: left;
}
#footer .first-line span ul:first-of-type li {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
#footer .first-line span ul:first-of-type li a {
    transition: 0.3s;
}
#footer .first-line span ul:first-of-type li a::after {
    content: "|"; margin-left: 10px;
}
#footer .first-line span ul:first-of-type li:nth-of-type(6) a::after{
    content: none;
}

#footer a:hover {
    color: #92c401;
}
/* 푸터 아이콘 */

#footer ul.ft-icon {
    position: absolute;
    right: 0;
    top: 0;
}
#footer ul.ft-icon li {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#footer ul.ft-icon li:nth-of-type(1) {
    margin-top: 10px;
    margin-left: 13px;
}

/* 메인 푸터 */


#footer .main-footer {
    width: 1200px;
    height: 264px;
    margin: 0 auto;
}

#footer .addres {
    display: inline-block;
    width: 60%;
    height: 264px;
    margin-top: 8px;
    background-color: #fff;
}
#footer .addres > h1 > a {
    font-weight: bold;
    display: inline-block;
}
#footer .addres > ul > li {
    padding: 8px 0;
}

#footer .addres-right {
    position: relative;
    right: 0;
    float: right;
    width: 39%;
    height: 264px;
    background-color: #fff;
}

#footer .addres-right ul {
    height: 230px;
    margin: 0 auto;
    margin-top: 18px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);

}
#footer .addres-right ul li {
    margin-top: 10px;
    margin-left: 20px;
    padding: 8px 0;
}
#footer .addres-right .ft-btn {
    position: absolute;
    right: 32px;
    bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
#footer .addres-right .ft-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}
/*푸터 모달*/
#ft-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 300px;
    margin: -200px 0 0 -200px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: #fff;
}

#ft-modal > h2 {
    border-bottom: 1.5px solid black;
    padding-bottom: 10px;

}
#ft-modal p {
    margin-top: 20px;
}
#ft-modal input {
    width: 250px;
    height: 100px;
    margin-top: 10px;
}
#ft-modal .ft-modal-btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#ft-modal .ft-modal-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
